#park-img{
  z-index: 1;
}

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Defined position */
  z-index: 2; /* Sit on top */
  padding-top: 0px; /* Location of the box */
  left: 0;
  top: 0;
  width: 150px; /* Full width */
  height: 50px; /* Full height */
  background-color: #327dad; /* Fallback color */
  background-color: #327dad; /* Black w/ opacity */
}

/* Caption of Modal Image */
#caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}

/* Add Animation */
#caption {  
  -webkit-animation-name: zoom;
  -webkit-animation-duration: 0.6s;
  animation-name: zoom;
  animation-duration: 0.6s;
}