.map {
    background-color: #0d1d2d;
    background-image: url("https://raw.githubusercontent.com/solodev/clickable-map-overlay/master/images/background.png");
    background-position: center;
    background-repeat: repeat;
    position: relative;
    background-attachment: fixed;
}

a.btn:before {
    font-family: FontAwesome;
    content: "\f041";
    display: inline-block;
    vertical-align: middle;
}

@media (max-width: 320px) {
    .park {
        height: 200px;
        margin: 4rem 0;
   }
}
@media (min-width: 321px) and (max-width: 480px) {
    .park {
        height: 250px;
        margin: 4rem 0;
   }
}
@media (min-width: 481px) and (max-width: 575.98px) {
    .park {
        height: 350px;
        margin: 4rem 0;
   }
}
@media (min-width: 576px) and (max-width: 767.98px) {
    .park {
        height: 400px;
        margin: 4rem 0;
   }
}
@media (min-width: 768px) and (max-width: 991.98px) {
    .park {
        margin: 4rem 0;
        height: 500px;
   }
}
@media (min-width: 992px) and (max-width: 1199.98px) {
    .park {
        margin: 6rem 0;
        height: 600px;
   }
}
@media (min-width: 1200px) {
    .park {
        margin: 8rem 0;
        height: 600px;
   }
}
.park img {
    margin-top: -10%;
    position: relative;
    z-index: 3;
}
.park button.btn.pop, .map a.btn.pop {
    z-index: 5;
    position: absolute;
    color: #23303f;
    min-width: 0;
}
@media (max-width: 575.98px) {
    .park button.btn.pop, .park a.btn.pop {
        font-size: 1rem;
   }
}
@media (min-width: 576px) {
    .park button.btn.pop, .map a.btn.pop {
        font-size: 2rem;
   }
}
.park button.btn.pop:focus, .park a.btn.pop:focus {
    box-shadow: unset;
    outline: 0;
    border: 0;
}
.park button.btn.pop.default-popup, .park a.btn.pop.default-popup {
    z-index: -1;
    right: 30%;
}
@media (max-width: 767.98px) {
    .park button.btn.pop.default-popup, .park a.btn.pop.default-popup {
        bottom: 30%;
   }
}
@media (min-width: 768px) {
    .park button.btn.pop.default-popup, .map a.btn.pop.default-popup {
        top: 30%;
   }
}

.park button.btn.pop.lunarxp-launch-site, .park a.btn.pop.lunarxp-launch-site {
    left: 9%;
    top: 30%;
}